<footer class="footer">
    <div class="padded">
        
        {% if include_footer_contact_form != false %}
            <h3 id="get-in-touch">ready to elevate your space? send us a message</h3>
            <section>{% include "form/contact.html" %}</section>
        {% endif %}

        <section>
            <ul class="service-list">
                <li>
                    <a href="{{ data.email.link }}">{{ data.email.addr }}</a>
                </li>
                <li>
                    <a href="{{ data.phone.link }}">{{ data.phone.number }}</a>
                </li>
            </ul>

            <div>
                <p>
                    New Plymouth, New Zealand
                    <br>
                    <span>serving nationwide</span>
                </p>
                <span id="copyright">
                    © {{ data.year }} {{ resource.company }} | 
                    <a href="{{ navigation.privacy-policy }}">privacy policy</a> | 
                    <a href="{{ navigation.terms-of-trade }}">terms of trade</a>
                </span>
            </div>
        </section>
    </div>
</footer>