<footer class="footer">
    <h3 id="get-in-touch">
        ready to elevate your space? we’re here to help.
    </h3>
    <section>
        <ul class="service-list">
            <li>
                <a href="{{ data.email.link }}">{{ data.email.addr }}</a>
            </li>
            <li>
                <a href="{{ data.phone.link }}">{{ data.phone.number }}</a>
            </li>
        </ul>
        <div>
            <p>
                New Plymouth, New Zealand
                <br>
                <span>serving nationwide</span>
            </p>
            <span id="copyright">© 2025 Bumark Electrical LTD</span>
        </div>
    </section>
</footer>